/* CSS HEX */
--deep-twilight: #090446ff;
--olive-wood: #786f52ff;
--honey-bronze: #feb95fff;
--strawberry-red: #f71735ff;
--rosewood: #c2095aff;

/* CSS HSL */
--deep-twilight: hsla(245, 89%, 15%, 1);
--olive-wood: hsla(46, 19%, 40%, 1);
--honey-bronze: hsla(34, 99%, 68%, 1);
--strawberry-red: hsla(352, 93%, 53%, 1);
--rosewood: hsla(334, 91%, 40%, 1);

/* SCSS HEX */
$deep-twilight: #090446ff;
$olive-wood: #786f52ff;
$honey-bronze: #feb95fff;
$strawberry-red: #f71735ff;
$rosewood: #c2095aff;

/* SCSS HSL */
$deep-twilight: hsla(245, 89%, 15%, 1);
$olive-wood: hsla(46, 19%, 40%, 1);
$honey-bronze: hsla(34, 99%, 68%, 1);
$strawberry-red: hsla(352, 93%, 53%, 1);
$rosewood: hsla(334, 91%, 40%, 1);

/* SCSS RGB */
$deep-twilight: rgba(9, 4, 70, 1);
$olive-wood: rgba(120, 111, 82, 1);
$honey-bronze: rgba(254, 185, 95, 1);
$strawberry-red: rgba(247, 23, 53, 1);
$rosewood: rgba(194, 9, 90, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-right: linear-gradient(90deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-bottom: linear-gradient(180deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-left: linear-gradient(270deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-top-right: linear-gradient(45deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-bottom-right: linear-gradient(135deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-top-left: linear-gradient(225deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-bottom-left: linear-gradient(315deg, #090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);
$gradient-radial: radial-gradient(#090446ff, #786f52ff, #feb95fff, #f71735ff, #c2095aff);