:root {
   /* =========================================================================
   PASTE LIGHT THEME COOLORS OUTPUT DIRECTLY BELOW THIS LINE
   ========================================================================= */

   /* CSS HEX */
   --shadow-grey: #2b2726ff;
   --toffee-brown: #996148ff;
   --alabaster-grey: #e2e0dfff;

   /* CSS HSL */
   --shadow-grey: hsla(12, 6%, 16%, 1);
   --toffee-brown: hsla(19, 36%, 44%, 1);
   --alabaster-grey: hsla(20, 5%, 88%, 1);

   /* SCSS HEX */
   $shadow-grey: #2b2726ff;
   $toffee-brown: #996148ff;
   $alabaster-grey: #e2e0dfff;

   /* SCSS HSL */
   $shadow-grey: hsla(12, 6%, 16%, 1);
   $toffee-brown: hsla(19, 36%, 44%, 1);
   $alabaster-grey: hsla(20, 5%, 88%, 1);

   /* SCSS RGB */
   $shadow-grey: rgba(43, 39, 38, 1);
   $toffee-brown: rgba(153, 97, 72, 1);
   $alabaster-grey: rgba(226, 224, 223, 1);

   /* SCSS Gradient */
   $gradient-top: linear-gradient(0deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-right: linear-gradient(90deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-bottom: linear-gradient(180deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-left: linear-gradient(270deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-top-right: linear-gradient(45deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-bottom-right: linear-gradient(135deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-top-left: linear-gradient(225deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-bottom-left: linear-gradient(315deg, #2b2726ff, #996148ff, #e2e0dfff);
   $gradient-radial: radial-gradient(#2b2726ff, #996148ff, #e2e0dfff);

   /* ========================================================================= */
}