:root {
   /* =========================================================================
   PASTE LIGHT THEME COOLORS OUTPUT DIRECTLY BELOW THIS LINE
   ========================================================================= */

   /* CSS HEX */
   --dark-teal: #104f55ff;
   --pine-blue: #32746dff;
   --muted-teal: #9ec5abff;

   /* CSS HSL */
   --dark-teal: hsla(185, 68%, 20%, 1);
   --pine-blue: hsla(174, 40%, 33%, 1);
   --muted-teal: hsla(140, 25%, 70%, 1);

   /* SCSS HEX */
   $dark-teal: #104f55ff;
   $pine-blue: #32746dff;
   $muted-teal: #9ec5abff;

   /* SCSS HSL */
   $dark-teal: hsla(185, 68%, 20%, 1);
   $pine-blue: hsla(174, 40%, 33%, 1);
   $muted-teal: hsla(140, 25%, 70%, 1);

   /* SCSS RGB */
   $dark-teal: rgba(16, 79, 85, 1);
   $pine-blue: rgba(50, 116, 109, 1);
   $muted-teal: rgba(158, 197, 171, 1);

   /* SCSS Gradient */
   $gradient-top: linear-gradient(0deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-right: linear-gradient(90deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-bottom: linear-gradient(180deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-left: linear-gradient(270deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-top-right: linear-gradient(45deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-bottom-right: linear-gradient(135deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-top-left: linear-gradient(225deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-bottom-left: linear-gradient(315deg, #104f55ff, #32746dff, #9ec5abff);
   $gradient-radial: radial-gradient(#104f55ff, #32746dff, #9ec5abff);
   /* ========================================================================= */
}